:root {
    --btnColor: #6025eae5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body,
#screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#screen {
    min-width: 50vw;
    height: 60vh;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px gray;
    animation: screen 2s ease-in-out 0.1s infinite;
    justify-content: flex-start;
}

.searchSection {
    height: 10%;
    width: 100%;
    margin-bottom: 15px;
}

.searchSection form {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.searchSection form #inp {
    width: 55%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    color: rgb(35, 36, 36);
    font-size: 14px;
}

.searchSection #searchBtn {
    height: 100%;
    width: 20%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--btnColor);
    color: rgb(252, 252, 252);
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.searchSection #searchBtn:hover {
    transform: scale(1.05);
    font-size: calc(16*1.05px);
}

#infoSection {
    height: 80%;
    width: 100%;
}

.section1 {
    height: 70%;
}

.section1 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    position: relative;
    width: 100%;
}

ul #imgStatus {
    max-width: 45%;
}

#status {
    text-align: start;
}

.section1 ul #unitStatus #temp {
    font-size: 65px;
    font-weight: 700;
    font-family: "Poppins";
    color: rgb(59, 57, 57);
}

.section1 ul li .location {
    display: flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    bottom: 0;
}

.section1 ul li .location span {
    font-size: 20px;
}






@keyframes screen {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-5px);
    }
}


@media screen and (max-width: 600px) {
    #screen {
        min-width: 70vw;
    }
}

@media screen and (max-width:320px) {
    #screen {
        min-width: 90vw;
    }
}